  <div class="container-fluid" style="padding-top: 2%;">
    
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Team name</th>
          <th scope="col">Game</th>
          <th scope="col">Level</th>
          <th scope="col">Maximum Players</th>
          <th scope="col">Team Leader</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">{{team.id}}</td>
          <td>{{team.game}}</td>
          <td>{{team.level}}</td>
          <td>{{team.maxPlayers}}</td>
          <td>{{team.teamLeader}}</td>
          <td><button id="editBtn" type="button" [routerLink]="['edit']"
            class="btn m-1 btn-outline-success">Edit
          </button></td>
          <td> <button id="deleteBtn" type="button" [routerLink]="['delete']"
            class="btn m-1 btn-outline-danger">Delete</button></td>
        </tr>
      </tbody>
    </table>

  </div>