<mat-card>
  <mat-card-header>
    <div mat-card-avatar><mat-icon class="icon-big" aria-hidden="true">account_circle</mat-icon></div>
    <mat-card-title>{{player.id}}</mat-card-title>
    <mat-card-subtitle>MyTournamentX Player</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <p matLine>Username</p>
        <p matLine>{{player.id}}</p>
      </mat-list-item>
      <mat-list-item>
        <p matLine>E-Mail</p>
        <p matLine>{{player.email}}</p>
      </mat-list-item>
      <mat-list-item>
        <p matLine>Role</p>
        <p matLine>{{player.authorities[0]?.authority.split('_')[1].toLowerCase()}}</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button id="listBtn" mat-raised-button color="primary" [routerLink]="['/players']">Players List</button>
    <button id="editBtn" *ngIf="getCurrentUser().uri == player.uri"
            mat-raised-button color="accent" [routerLink]="['edit']">Edit</button>
    <button id="delBtn" *ngIf="getCurrentUser().uri == player.uri"
            mat-raised-button color="warn" [routerLink]="['delete']">Delete</button>
  </mat-card-actions>
</mat-card>
