<mat-card>
  <mat-card-header>
    <div mat-card-avatar><mat-icon class="icon-big" aria-hidden="true">info</mat-icon></div>
    <mat-card-title>About</mat-card-title>
    <mat-card-subtitle>eGame Tournament Management</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      For tournament managers who need a platform to manage their tournaments,
      the project MyTournamentX is a webapp, created with Spring and Angular,
      that allows them to open the registration and manage the tournament advances.
    </p>
    <p>
      Unlike existing tools, MyTournamentX brings Teams and Tournaments into contact.
      You can find the source code for the backend and frontend parts at:
    </p>
    <ul>
      <li><a href="https://github.com/UdL-EPS-SoftArch/mytournamentx-api" target="_blank">Spring Github Source Code</a></li>
      <li><a href="https://github.com/UdL-EPS-SoftArch/mytournamentx" target="_blank">Angular Github Source Code</a></li>
    </ul>
  </mat-card-content>
</mat-card>


