<mat-card>
  <mat-card-header>
    <div mat-card-avatar><mat-icon class="icon-big" aria-hidden="true">warning</mat-icon></div>
    <mat-card-title>Please, confirm deletion</mat-card-title>
    <mat-card-subtitle>Delete player {{player.id}}?</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <p matLine>Username</p>
        <p matLine>{{player.id}}</p>
      </mat-list-item>
      <mat-list-item>
        <p matLine>E-Mail</p>
        <p matLine>{{player.email}}</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" [routerLink]="[player.uri]">Cancel</button>
    <button mat-raised-button color="warn" (click)="delete()">Delete</button>
  </mat-card-actions>
</mat-card>
