<h4>Edit Tournament Invitation</h4>

<form id="teamEditForm" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>
  
      <!-- Message input -->
      <div class="form-group" >
          <label class="control-label" for="message"><strong>Message:</strong></label>
          <input id="message" name="message" type="text" class="form-control" required
                 [(ngModel)]="tournamentInvitation.message" #game="ngModel">
          <div class="invalid-feedback">A Message is required</div>
        </div>
  

    <!-- Button -->
    <div class="form-group">
      <button id="back" type="button" class="btn btn-outline-danger pull-right" (click)="goBack()">Cancel</button>
      <button id="submit" type="submit" class="btn btn-success pull-right marged-left" >Edit</button>
    </div>

  </fieldset>
</form>